:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.encabezado{
    background-color: var(--primario);
}

.contenedor{
    background-color: var(--grisClaro);

}

.entrada{
    background-color: var(--grisClaro);
}